body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0b;
  color: white;
}

/* HEADER */
header {
  background: linear-gradient(135deg, #020a2f, #0a1cff);
  text-align: center;
  padding: 70px 20px;
}

header h1 {
  margin: 0;
  font-size: 40px;
}

/* SECTIONS */
section {
  padding: 80px 10%;
}

/* ABOUT */
.about-box {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}

.about-image img {
  width: 260px;
  border-radius: 20px;
}

/* PORTFOLIO */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.gallery img {
  width: 100%;
  border-radius: 12px;
}

/* CONTACT */
.contact {
  background: #020a2f;
  text-align: center;
}

.contact a {
  color: #0a1cff;
  text-decoration: none;
  font-weight: bold;
}

.social-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-links a {
  background: #0a1cff;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
}
